[Unit]
Description=JMX Prometheus Exporter
Wants=riak.service
After=riak.service
Wants=network-online.target
After=network-online.target

[Service]
User=exporter
ExecStart=/var/lib/prometheus/jmx_exporter

[Install]
WantedBy=default.target
